@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: calc(var(--max-width) * 1px);
  margin-left: auto;
  margin-right: auto;
  font-size: 0.7rem;

  @include media-breakpoint-up(lg) {
    justify-content: flex-end;
  }
}
