.container {
  .input-group {
    $top: 1rem;
    $left: 1.3rem;

    display: flex;
    position: relative;
    border: var(--border-width) solid rgba(var(--color-main-light--rgb), 0.85);
    padding: $top $left 1.1875rem;
    transition: border-color 0.3s ease;

    &:focus-within {
      border: calc(var(--border-width) * 2) solid
        rgba(var(--color-main-light--rgb), 1);
    }

    label {
      position: absolute;
      left: $left;
      top: calc(50% - 2px);
      transform: translateY(-50%);
      background: var(--color-main-dark);
      padding: 0 0.3125em;
      color: rgba(var(--color-main-light--rgb), 0.5);
      transition: all 0.3s ease;
      pointer-events: none;
    }

    input {
      flex: 1 1 auto;
      outline: none;
      background: none;
      border: none;

      &:focus + label,
      &:not(:placeholder-shown) + label {
        top: -2px;
        font-size: 0.75em;
        color: var(--color-main-light);
      }
    }
  }
}
