@import "~bootstrap/scss/functions";
@import "../../../../src/assets/styles/variables";
@import "~bootstrap/scss/mixins";

.container {
  display: flex;
  font-size: 1.25rem;
  opacity: 0.75;
  @include list-unstyled();

  --bs-gutter-x: 1.5rem;

  .platform {
    &:not(:first-of-type) {
      margin-left: var(--bs-gutter-x, 0);
    }

    &:not(:last-of-type) {
      margin-right: var(--bs-gutter-x, 0);
    }

    &--NA {
      opacity: 0.25;
    }
  }
}
