.container {
  display: inline-block;
  padding: 1.125em 2em;
  background: var(--color-main-light);
  color: var(--color-main-dark);
  border: var(--border-width) solid var(--color-main-light);

  i {
    margin-left: 1em;
    color: var(--color-accent-primary);
  }

  &.filled {
    background: var(--color-accent-primary);
    color: var(--color-main-light);
    border: var(--border-width) solid var(--color-accent-primary);

    i {
      color: var(--color-main-light);
    }
  }

  &.hollow {
    background: transparent;
    color: var(--color-main-light);
    border: var(--border-width) solid #777675;

    i {
      color: var(--color-accent-primary);
    }
  }

  &.ghost {
    background: transparent;
    color: var(--color-main-light);
    border: var(--border-width) solid var(--color-main-light);

    i {
      color: var(--color-main-light);
    }
  }
}
