@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.container {
  @include make-col-ready();
  @include make-row(0);
  @include list-unstyled();
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;

  img {
    width: auto;
    max-width: calc(1 / 6 * 100vw);
    height: 100%;
    max-height: 1.5rem;
    color: var(--text);
    opacity: 0.5;
    fill: currentColor;

    @include media-breakpoint-up(md) {
      max-height: 2.5rem;
    }
    @include media-breakpoint-up(lg) {
      max-height: 3.5rem;
    }
  }
}
