@import "~bootstrap/scss/functions";
@import "../../../../src/assets/styles/variables";
@import "~bootstrap/scss/mixins";

.container {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  @include make-container();
  @each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      max-width: $container-max-width;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-top: 3rem;
  }

  .hardware {
    z-index: 3;
    height: 36vh;
    overflow: visible;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include media-breakpoint-down(sm) {
      width: 100vw;
      margin-left: 50%;
      transform: translateX(-50%);
    }
    @include media-breakpoint-up(md) {
      height: 60vh;
    }
    @include media-breakpoint-up(4k) {
      height: 60vh;
    }

    &--MacBookPro {
      position: relative;
      background-image: var(--MacBookPro);

      @include media-breakpoint-only(xs) {
        background-size: 115vw;
      }
      @include media-breakpoint-only(sm) {
        background-size: 145vw;
      }
    }
    &--iMac {
      position: relative;
      background-image: var(--iMac);

      @include media-breakpoint-only(xs) {
        background-size: 115vw;
      }
      @include media-breakpoint-only(sm) {
        background-size: 145vw;
      }
    }
    &--iPhone {
      position: relative;
      background-image: var(--iPhone);
    }
    &--iPhones {
      position: relative;
      background-image: var(--iPhones);

      @include media-breakpoint-only(sm) {
        background-size: 120vw;
      }
    }
    &--iPadLandscape {
      position: relative;
      background-image: var(--iPadLandscape);

      @include media-breakpoint-only(sm) {
        background-size: 120vw;
      }
    }
    &--iPadPortrait {
      position: relative;
      background-image: var(--iPadPortrait);

      @include media-breakpoint-only(sm) {
        background-size: 145vw;
      }
    }
  }

  menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding-right: var(--bs-gutter-x, 0.75rem);
    transform: translateY(-100%);

    @include media-breakpoint-down(sm) {
      left: 0;
    }
  }
}
