@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.container {
  @include make-row();
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  @include make-container();

  @each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      max-width: $container-max-width;
    }
  }

  img {
    width: 7rem;
    height: 3.5rem;
    overflow: hidden;
    object-position: left;
    object-fit: contain;

    &:hover {
      transition: all 5s ease;
    }
  }

  nav ul {
    @include list-unstyled();
    display: flex;
    margin: 0;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    li {
      &:not(:last-child) {
        margin-right: 3em;
      }

      a {
        color: var(--black);
        text-decoration: none;
      }
    }
  }

  @media print {
    visibility: collapse;
  }
}
