@import 'tailwindcss';

@theme {
  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-serif: "Editor's Note Display", serif;
}

@layer components {
  .btn {
    @apply inline-flex justify-center items-center gap-3.5 px-7 py-4 bg-slate-50 text-slate-950 uppercase;

    &.filled {
      @apply bg-amber-600 text-amber-50;
    }

    &.hollow {
      @apply bg-transparent border-1 border-slate-950 text-current;
    }

    &.ghost {
      @apply bg-transparent border-1 border-slate-50 text-slate-50;
    }

    a& {
      &.filled {
        @apply after:bg-slate-50;
      }

      &.hollow {
        @apply after:bg-amber-600;
      }

      &.ghost {
        @apply after:bg-slate-50;
      }

      & {
        @apply after:size-3.5 after:inline-block after:bg-amber-600;
        &:after {
          mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 11 11" style="fill:var(--color-red-800)"><path d="M10.16 0h-7.4c-.39 0-.7.31-.7.7s.31.7.7.7h5.85L0 10.01l1.01 1.01 8.61-8.61v5.85c0 .39.31.7.7.7.19 0 .37-.08.5-.21s.21-.3.21-.5V.86c0-.47-.39-.85-.86-.86Z"></path></svg>');
        }
      }
    }
  }
}
