@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.container {
  padding-top: 3rem;
  padding-right: var(--global-margin);
  padding-bottom: 1rem;
  padding-left: var(--global-margin);
  background-color: var(--accent--dark);

  a {
    font-family: var(--font-Petrona);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    color: var(--light);
  }

  a:not(ul *) {
    display: flex;
    height: 2rem;
    margin-bottom: 0.5em;
    padding-left: 1em;
    flex-shrink: 0;
    align-items: center;
    border: 1px solid var(--light);

    @include media-breakpoint-up(md) {
      width: calc(var(--column-left));
    }
    @include media-breakpoint-up(xl) {
      width: calc(var(--column-left) * 2 / 3);
    }
  }

  ul {
    display: flex;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    padding-left: 0;
    list-style: none;
    justify-content: space-between;

    @include media-breakpoint-up(lg) {
      width: var(--column-left);
      min-width: 31rem;
    }

    li {
      color: var(--light);
    }
  }

  > div:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: var(--accent--light);
    text-align: center;
    font-family: var(--font-Mulish);
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}
