@import '~bootstrap/scss/functions';
@import '../../../../src/assets/styles/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/buttons';

$dark: #000c1a;
$gray: lighten($black, 80%);

.container {
  @include make-row();
  @include make-container();

  margin-top: 4rem;
  margin-bottom: 4rem;
  @each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      max-width: $container-max-width;
    }
  }

  @include media-breakpoint-down(sm) {
    flex-wrap: wrap-reverse;
  }

  @include media-breakpoint-up(md) {
    display: flex;
    @include row-cols(2);
  }

  img {
    width: 100%;
    height: auto;

    @include media-breakpoint-down(sm) {
      margin-top: 4rem;
    }
  }

  .title {
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 0.5;
  }

  .summary {
    opacity: 0.5;

    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
  }

  .button {
    @extend .btn;
    @media screen and (prefers-color-scheme: light) {
      @include button-outline-variant($dark);
    }
    @media screen and (prefers-color-scheme: dark) {
      @include button-outline-variant(rgba($light, 0.8));
    }

    @include media-breakpoint-up(md) {
      margin-top: 4rem;
    }

    @include button-size(
      $btn-padding-y,
      $btn-padding-x,
      $btn-font-size,
      $btn-border-radius
    );
  }
}
