@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.container {
  @include media-breakpoint-up(xl) {
    position: absolute;
  }

  menu {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    list-style: none;
    gap: 0.5rem;

    label {
      display: none;
    }
  }
}
