// TODO: replace px with variable unit

@use "../../utils/_breakpoints";

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3rem 1.25rem 2.25rem;
  position: relative;
  background: black;
  color: var(--color-main-light);

  @include breakpoints.up(md) {
    padding: 0;
  }

  div:first-of-type {
    width: 100%;
    margin: 0 0 0.5em 0;

    @include breakpoints.up(md) {
      order: 3;
      margin: 0.34em 0;
    }
  }

  > p {
    width: 100%;

    @include breakpoints.up(md) {
      order: 4;
      width: 50%;
      max-width: 37.5rem;
      margin-left: auto;
    }
  }

  .pages {
    width: 100%;
    padding: 2rem;

    @include breakpoints.up(md) {
      order: 1;
      border-bottom: calc(var(--border-width) * 2) solid
        rgba(var(--color-main-light--rgb), 0.25);
    }

    ul {
      flex-wrap: wrap;
      columns: 2;

      @include breakpoints.up(md) {
        flex-wrap: nowrap;
        gap: 5.45em;
      }
    }

    li {
      text-align: center;

      @include breakpoints.up(md) {
        text-align: left;
      }

      @include breakpoints.down(sm) {
        height: 2em;
        width: 50%;
      }
    }
  }

  .gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    width: calc(100% + 1.25rem * 2);
    height: 15rem;
    margin: 0 -1.25rem 2.25rem;

    @include breakpoints.up(md) {
      order: 6;
      width: 100%;
      height: 20rem;
      margin: 6.25rem 0 0 10.5rem;
    }

    .image {
      object-fit: cover;
      height: 7.5rem;
      width: 7.5rem;

      @include breakpoints.up(md) {
        height: 20rem;
        width: 20rem;
      }
    }
  }

  .newsletter {
    width: 75%;

    @include breakpoints.up(md) {
      order: 5;
      width: 50%;
      max-width: 20rem;
      margin-right: auto;
    }
  }

  .links {
    width: 25%;
    justify-content: end;

    @include breakpoints.up(md) {
      order: 2;
      position: absolute;
      top: 0;
      right: 0;
      padding: 2.125rem;
    }
  }
}
