@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.container {
  a {
    color: var(--text);
  }

  button {
    // border-color: var(--text) !important;
    &:active,
    &:hover,
    &:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }
}
