@import 'tailwindcss';

@theme {
  --font-sans: 'CerebriSans', sans-serif;
  --font-serif: 'IvyMode', serif;
  --font-mono: 'IBM Plex Mono', monospace;

  --color-warm-ivory: #faf8f4;
  --color-soft-charcol: #1f1f1d;
  --color-warm-gray: #6e6a63;
  --color-burnt-umber: #6b4a3a;
  --color-moss: #4f5d50;
}

@layer components {
  .btn {
    @apply inline-flex justify-center items-center gap-3.5 px-7 py-4 bg-(--color-salley-white) font-sans text-(--color-salley-black) uppercase;

    &.filled {
      @apply bg-(--color-salley-accent) text-amber-50;
    }

    &.hollow {
      @apply bg-transparent border-1 border-(--color-salley-black) text-current;
    }

    &.ghost {
      @apply bg-transparent border-1 border-(--color-salley-white) text-(--color-salley-white);
    }

    a& {
      &.filled {
        @apply after:bg-(--color-salley-white);
      }

      &.hollow {
        @apply after:bg-(--color-salley-accent);
      }

      &.ghost {
        @apply after:bg-(--color-salley-white);
      }

      & {
        @apply after:size-3.5 after:inline-block after:bg-(--color-salley-accent);
        &:after {
          mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 11 11" style="fill:var(--color-red-800)"><path d="M10.16 0h-7.4c-.39 0-.7.31-.7.7s.31.7.7.7h5.85L0 10.01l1.01 1.01 8.61-8.61v5.85c0 .39.31.7.7.7.19 0 .37-.08.5-.21s.21-.3.21-.5V.86c0-.47-.39-.85-.86-.86Z"></path></svg>');
        }
      }
    }
  }
}
