@import "tailwindcss";
@import "./fonts/Cerebri/style.css";

@theme {
  --font-sans: "Cerebri", sans-serif;
  --font-serif: "IvyMode", serif;
  --font-mono: "IBM Plex Mono", monospace;

  --color-salley-light: #ffffff;
  --color-salley-dark: #1f1f1d;
  --color-salley-primary: #6e6a63;
  --color-salley-accent: #6b4a3a;
  --color-salley-accent-2: #4f5d50;
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center gap-3.5 bg-(--color-salley-light) px-7 py-4 font-sans text-(--color-salley-dark) uppercase;

    &.filled {
      @apply bg-(--color-salley-accent) text-amber-50;
    }

    &.hollow {
      @apply border-1 border-(--color-salley-dark) bg-transparent text-current;
    }

    &.ghost {
      @apply border-1 border-(--color-salley-light) bg-transparent text-(--color-salley-light);
    }

    a& {
      &.filled {
        @apply after:bg-(--color-salley-light);
      }

      &.hollow {
        @apply after:bg-(--color-salley-accent);
      }

      &.ghost {
        @apply after:bg-(--color-salley-light);
      }

      & {
        @apply after:inline-block after:size-3.5 after:bg-(--color-salley-accent);
        &:after {
          mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 11 11" style="fill:var(--color-red-800)"><path d="M10.16 0h-7.4c-.39 0-.7.31-.7.7s.31.7.7.7h5.85L0 10.01l1.01 1.01 8.61-8.61v5.85c0 .39.31.7.7.7.19 0 .37-.08.5-.21s.21-.3.21-.5V.86c0-.47-.39-.85-.86-.86Z"></path></svg>');
        }
      }
    }
  }
}

@layer components {
  .sparkle-list li {
    @apply relative pl-[2.5em] pb-[2.5em];
  }

  .sparkle-list li::before {
    content: "";
    @apply absolute left-0 top-[0.35em] h-[2em] w-[2em] bg-no-repeat bg-contain;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'><circle cx='20' cy='20' r='19' fill='%231f1f1f'/><path d='M20 12 C21.6 15.8 24.2 18.4 28 20 C24.2 21.6 21.6 24.2 20 28 C18.4 24.2 15.8 21.6 12 20 C15.8 18.4 18.4 15.8 20 12 Z' fill='%23ffffff'/></svg>");
  }
}
